h1 {
  color: brown;
  text-align: center;
}

h2 {
}

.table-container {
  display: flex;
}

div#menu {

}

div#right-column {
  flex: 0 0 250px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

div#basket {
  flex: 0 0 250px;
}

.pizza {
  display: inline-block;
  width: 150px;
  margin: 10px;
  border: 3px solid brown;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
}

.pizza-title {
  font-weight: bold;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.pizza-description {
  display: inline-block;
  font-weight: lighter;
  font-style: italic;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 40px;
}

.pizza-image {
  max-width: 100px;
  max-height: 100px;
  display: block;
  margin: 0 auto;
}

.pizza-cost {
  font-weight: bold;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.add-to-basket {
  width: 100%;
  margin: 15px 0;
}

.basket-pizza {
  display: flex;
  margin: 5px;
}

.basket-pizza-image {
  width: 50px;
  height: 100%;
}

.basket-info {
  flex: auto;
  padding: 0 5px;
}

.basket-pizza-title {
  font-weight: bold;
}

.basket-buttons {
  width: 25px;
  display: flex;
  flex-direction: column;
}

.basket-pizza-button {
  width: 25px;
  height: 25px;
  padding: 2px 2px;
}

.basket-sum {
  font-weight: bold;
}

.delivery-title {
  font-weight: bold;
}