<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Пицца Карабаса-Барабаса</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css"/>
    <script type="text/javascript" th:src="@{/js/jquery-3.5.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/basket.js}"></script>
</head>
<body>
<div class="container">
    <h1>Интернет-магазин "Пицца Карабаса-Барабаса"</h1>
    <div class="table-container">
        <div id="menu">
            <h2>
                <span>Меню:</span>
            </h2>
            <div th:each="pizza : ${pizzas}" th:object="${pizza}" class="pizza">
                <img th:src="@{'images/' + *{image}}" src="images/default.jpg" class="pizza-image"/>
                <br/>
                <span th:text="*{name}" class="pizza-title"></span>
                <br/>
                <span th:text="*{description}" class="pizza-description"></span>
                <br/>
                <span th:text="'Вес ' + *{weight} + ' гр.'"></span>
                <br/>
                <span th:text="*{cost} + ' руб.'" class="pizza-cost"></span>
                <br/>
                <a href="https://www.google.ru/" th:href="@{'https://www.google.ru/search?q=Пицца ' + *{name}}">Подробнее</a>
                <br/>
                <button class="add-to-basket" th:onclick="|addToBasket('*{id}')|">В корзину</button>
            </div>
        </div>
        <div id="right-column">
            <div id="basket">
                <h2>
                    <span>Корзина:</span>
                </h2>
                <span th:if="${basket.isEmpty()}">Корзина пуста</span>
                <div th:unless="${basket.isEmpty()}"
                     th:each="basketEntry : ${basket}"
                     th:with="pizza=${basketEntry.getKey()}, count=${basketEntry.getValue()}"
                     class="basket-pizza">
                    <img th:src="@{'images/' + ${pizza.image}}" src="images/default.jpg" class="basket-pizza-image"/>
                    <div class="basket-info">
                        <span th:text="${pizza.name}" class="basket-pizza-title"></span>
                        <br/>
                        <span th:text="'Количество: ' + ${count} + ' шт.'"></span>
                    </div>
                    <div class="basket-buttons">
                        <input type="image"
                               th:onclick="|addToBasket('${pizza.id}')|"
                               src="images/inc-button.jpg"
                               class="basket-pizza-button"/>
                        <input type="image"
                               th:onclick="|removeFromBasket('${pizza.id}')|"
                               src="images/dec-button.jpg"
                               class="basket-pizza-button"/>
                    </div>
                </div>
                <span th:unless="${basket.isEmpty()}" th:text="'Сумма: ' + ${basketSumCost} + ' руб.'"
                      class="basket-sum">Сумма: 0 руб</span>
            </div>
        </div>
    </div>
</div>
</body>
</html>